<nav id="nav">
    <div class="nav">
        <img src="/images/mech.png" alt="" id="nav-img">
        <h1><a href="/"> HOMECHANIC</a></h1>
        <div id="nav-options">
         <li><a href="/login">Order</a></li>
         <li><a href="">About us</a></li>
         <li><a href="">feedback</a></li>
        </div>

    </div>
</nav>