<%-include('partials/header')%> <%-include('partials/nav')%>
<main id="container">
    <h1 class="about-us">ABOUT US</h1>
<P
  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolorum
  voluptate quis pariatur incidunt fuga eveniet doloremque placeat illo
  molestiae ea dolor voluptatem atque, iure, ipsum consequuntur facere porro
  repellendus voluptas delectus asperiores dolores! Neque iure tempora facere,
  alias voluptatem illo voluptatibus vel eligendi nobis recusandae ipsa officia
  ut quibusdam dolorem dolore nihil. Eum eveniet vero quaerat alias blanditiis
  illo facere cum modi asperiores maxime beatae, enim sunt a molestias quibusdam
  optio recusandae! Deleniti, beatae suscipit possimus architecto, praesentium
  error, molestias quia eligendi ab nostrum minus! Asperiores ea pariatur
  mollitia exercitationem vero quaerat vel temporibus? Corrupti reprehenderit ut
  maiores provident, labore natus repudiandae in perferendis dicta nemo rerum
  dolor soluta expedita eum non porro similique tenetur quibusdam dolore! Veniam
  esse sequi ea repellat quos tempore omnis! Et repellat sint omnis quia quasi
  dolor a iusto officia voluptatum? Ratione, tempore veritatis! Placeat
  voluptate commodi deserunt perspiciatis, aliquam culpa iusto nulla magnam iure
  aut? Quam dolores modi atque, aperiam qui quia soluta quibusdam quas esse
  veritatis? Recusandae veniam at explicabo ducimus! Ipsam fugiat praesentium
  iure atque natus quia eveniet numquam, repellendus similique delectus quis,
  quasi doloribus vel eum quaerat quam esse quas veniam deserunt minus? Odio
  similique dignissimos non commodi alias reiciendis, rerum velit nam, eos nobis
  magni assumenda architecto sed labore perferendis possimus molestiae nihil,
  fugit eius voluptatem doloribus quam impedit quisquam! Expedita quod
  voluptatem, sit optio cupiditate consequuntur cumque asperiores quas natus
  reiciendis eligendi, non ducimus tempora at odio numquam. Necessitatibus
  labore reiciendis tempora dolores id, ea adipisci officia quisquam nesciunt ad
  enim ut voluptatem aut fuga autem dolorum quod beatae dolorem commodi
  laudantium. Quibusdam eius illum, totam esse laborum impedit quod maxime
  sapiente sunt quia pariatur nam? Pariatur minima vitae eligendi voluptates,
  repellat quia laudantium nemo delectus, nihil ducimus odio, rem iure? Labore
  blanditiis, necessitatibus amet perferendis qui ullam. <a href="">Read more</a>
</P>
    <h1 class="services">Our services</h1>
    <div class="services-div">

     <div class="oilFilter">
      <p>Check and replacement of engine oil </p>
      <p class="price">ksh 500</p>
     <div>
    
      <div class="interim">
        <p class="price"> ksh 5000</p>
      </div>
        <div class="manufacture">
          <p class="price">ksh 22000</p>
        </div>
          
    </div>

</div>
  <div class="fullservice">

    <p class="price">ksh 12000 </p>
  </div>
</main>

<%-include('partials/footer')%>
