<%-include('partials/header')%>
<div id="login-container">
    <form action="">
        <h1>login</h1>
        <input type="email" id="email" placeholder="email address" required><br>
        <input type="password" id="password" placeholder="password" required min-length="4">
        <input type="submit" id="login-submit">
        <p class="login-p">do not have an account? <a href="/signup">create one</a></p>
    </form>
</div>

<%-include('partials/footer')%>